<h1 class="ui header">Billboard Artists</h1>
<hr />

<div class="ui basic green button">
  <%= link_to "Add Artist", new_artist_path %>
</div>

<div class="ui divider"></div>

<div class="ui grid">
  <% @artists.each do |artist| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="image">
          <img src="https://robohash.org/<%= artist.avatar %>?set=set2" />
        </div>
        <div class="content">
          <%= link_to artist.artist_name, artist_path(artist), class: "header" %>
        </div>
        <div class="extra content">
          <div class="ui basic green button">
            <%= link_to "Edit", edit_artist_path(artist) %>
          </div>
          <div class="ui basic red button">
            <%= link_to "Delete", method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br />
<hr />

<div class="ui basic green button">
  <%= link_to "Add Artist", new_artist_path %>
</div>
