<h1>Add a Song</h1>
<%= form_with(model: [@artist, @song], local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :song_name %>
    <%= f.text_field :song_name, required: true, placeholder: "Song Name"%>
  </div>
  <div class="field">
    <%= f.label :genre %>
    <%= f.text_field :genre, required: true, placeholder: "Genre"%>
  </div>
  <div class="field">
    <%= f.label :play_time %>
    <%= f.text_field :play_time, placeholder: "Song Length"%>
  </div>
  <div class="field">
    <%= f.label :date_released %>
    <%= f.date_field :date_released, placeholder: "Date song was released"%>
  </div>
  <div class="field">
    <%= f.label :lyrics %>
    <%= f.text_field :lyrics, placeholder: "Lyrics"%>
  </div>
   <%= f.submit class: "ui button"%>
  <div class="ui button">
    <%= link_to 'Cancel', artist_path(@artist) %>
  </div>
<% end %>